@model List<ILC.BL.Models.Admin.HomeSection.CustomerSupport.ContactUsVM>
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
}

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Customer Messages Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Email</td> 
                                <td>Date</td> 
                                <td>Is seen</td>
                                <th>Actions</th>
                            </tr>
                        </thead> 
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr> 
                                    <td>@item?.Id</td>
                                    <td>@item?.Name</td>
                                    <td>@item?.Email</td>
                                    <td>@item?.CreationDate.GetValueOrDefault().ToString("dd-MM-yyyy HH:mm")</td>
                                    <td class="h4">
                                        @{
                                            if (item.IsSeen == true)
                                            {
                                                <i class="fas fa-check-circle text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-times-circle text-danger"></i>
                                            }
                                        }
                                    </td>
                                    <td style="min-width:220px">
                                        <a class="btn btn-primary me-auto" href="/Admin/ContactUs/Details/@item?.Id"> Details</a>
                                        <button class="btn btn-danger me-auto" onclick="Delete(@item?.Id,'/Admin/ContactUs/Delete')">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <script src="~/customscript/sahreddelete.js"></script>
}