@model ILC.BL.Models.Admin.HomeSection.Inquirys.InquiryVM
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
}

<div class="content-wrapper">
    <div class="page-header text-right mb-2">
        <a class="btn btn-primary" asp-controller="Inquiry" asp-action="index">Back to list</a>
    </div>
    <div class="page-header">
        <h3 class="page-title">Inquiry Details</h3>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p><span class="mb-2" style="font-weight:bold">Id : </span> @Model?.Id</p>
                    <p><span class="mb-2" style="font-weight:bold">Name : </span> @Model?.Name</p>
                    <p><span class="mb-2" style="font-weight:bold">Last Name : </span> @Model?.Name</p>
                    <p><span class="mb-2" style="font-weight:bold">Email : </span> @Model?.Email</p>
                    <p><span class="mb-2" style="font-weight:bold">Phone : </span> @Model?.CountryCode - @Model?.Phone</p>
                    <p><span class="mb-2" style="font-weight:bold">Country : </span> @Model?.Country?.Name</p>
                    <p><span class="mb-2" style="font-weight:bold">City : </span> @Model?.City.Name</p>
                    <p><span class="mb-2" style="font-weight:bold">Date : </span> @Model?.CreationDate.GetValueOrDefault().ToString("dd-MM-yyyy HH:mm")</p>
                    <p><span class="mb-2" style="font-weight:bold">Subject : </span> @Model?.Subject</p>
                    <p><span class="mb-2" style="font-weight:bold">Message : </span> @Model?.Message</p>
                </div>
            </div>
        </div>
    </div>
</div>  