@model ILC.BL.Models.Admin.HomeSection.Support.SupportHomeVM
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1> 
<hr />
<div> 
    <p>TitleAr : @Model?.TitleAr</p>
    <p>TitleEn : @Model?.TitleEn</p>
    <p>DescriptionAr : @Model?.DescriptionAr</p>
    <p>DescriptionEn : @Model?.DescriptionEn</p>
    <p>LocationAr : @Model?.LocationAr</p>
    <p>LocationEn : @Model?.LocationEn</p>
    <p>Email : @Model?.Email</p>
    <p>Phone : @Model?.Phone</p>
</div> 
<div>
    <a href="/Admin/SupportHome/Edit/@Model?.Id"> Edit</a>
    <a href="/Admin/SupportHome/index"> Back to List</a>
</div>
