@model ILC.BL.Models.Admin.HomeSection.Support.EditSupportHomeVM
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <div class="page-header text-right">
        <h3 class="page-title">Edit Support</h3>
        <a class="btn btn-primary mb-2" asp-controller="SupportHome" asp-action="index">Back to list</a>
    </div>
    <form id="formAdmin" class="forms-sample">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TitleEn">Title En : </label>
                                    <input type="text" asp-for="TitleEn" class="form-control" placeholder="Title En" />
                                    <span asp-validation-for="TitleEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TitleAr">Title Ar : </label>
                                    <input type="text" asp-for="TitleAr" class="form-control" placeholder="Title Ar" />
                                    <span asp-validation-for="TitleAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DescriptionEn">Description En :</label>
                                    <textarea type="text" asp-for="DescriptionEn" class="form-control" id="DescriptionEn"
                                              placeholder="Description En"></textarea>
                                    <span asp-validation-for="DescriptionEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DescriptionAr">Description Ar :</label>
                                    <textarea type="text" asp-for="DescriptionAr" class="form-control" id="DescriptionAr"
                                              placeholder="Description Ar"></textarea>
                                    <span asp-validation-for="DescriptionAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="LocationEn">Location En : </label>
                                    <input type="text" asp-for="LocationEn" class="form-control" placeholder="Location En" />
                                    <span asp-validation-for="LocationEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="LocationAr">Location Ar : </label>
                                    <input type="text" asp-for="LocationAr" class="form-control" placeholder="Location Ar" />
                                    <span asp-validation-for="LocationAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email">Email : </label>
                                    <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Email" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Phone">Phone : </label>
                                    <input type="text" asp-for="Phone" class="form-control" placeholder="Phone" />
                                    <span asp-validation-for="Phone" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary me-auto">Save</button>
                            <button type="button" class="btn btn-danger me-auto" onclick="clearForm()">Clear</button>
                        </div>
                        <input type="hidden" value="/Admin/SupportHome/Edit" id="URL" />
                        <input type="hidden" value="@Model?.Id" name="Id" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script>
        function clearForm() {
            document.getElementById("formAdmin").reset();
        }
    </script>
}








 
 