@model List<ILC.BL.Models.Admin.HomeSection.Support.SupportHomeVM>
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
} 
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Support list</h3>
        <a class="btn btn-primary" asp-controller="SupportHome" asp-action="Create">+ Create</a>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body"> 
                        <p><span class="mb-2" style="font-weight:bold">Title Ar : </span> @item?.TitleAr</p>
                        <p><span class="mb-2" style="font-weight:bold">Title En : </span> @item?.TitleEn</p>
                        <p><span class="mb-2" style="font-weight:bold">Description Ar : </span> @item?.DescriptionAr</p>
                        <p><span class="mb-2" style="font-weight:bold">Description En : </span> @item?.DescriptionEn</p>
                        <p><span class="mb-2" style="font-weight:bold">Location Ar : </span> @item?.LocationEn</p>
                        <p><span class="mb-2" style="font-weight:bold">Location En : </span> @item?.LocationAr</p>
                        <p><span class="mb-2" style="font-weight:bold">Email : </span> @item?.Email</p>
                        <p><span class="mb-2" style="font-weight:bold">Mobile : </span> @item?.Phone</p>
                        <a class="btn btn-gradient-primary me-auto" href="/Admin/SupportHome/Edit/@item?.Id"> Edit</a>
                        <a class="btn btn-light me-auto" href="/Admin/SupportHome/Details/@item?.Id"> Details</a>
                        <button class="btn btn-light me-auto" onclick="Delete(@item?.Id,'/Admin/SupportHome/Delete')"> Delete</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div> 
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <script src="~/customscript/sahreddelete.js"></script>
}  