@model List<ILC.BL.Models.Admin.HomeSection.Support.SupportHomeVM>
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
}  

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Staff Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>TitleAr</th>
                                <th>TitleEn</th>
                                <th>DescriptionAr</th>
                                <th>DescriptionEn</th>
                                <th>LocationEn</th>
                                <th>LocationAr</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>TitleAr</th>
                                <th>TitleEn</th>
                                <th>DescriptionAr</th>
                                <th>DescriptionEn</th>
                                <th>LocationEn</th>
                                <th>LocationAr</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                     <td>@item?.TitleAr</td>
                                    <td>@item?.TitleEn</td>
                                    <td>@item?.DescriptionAr</td>
                                    <td>@item?.DescriptionEn</td>
                                    <td>@item?.LocationEn</td>
                                    <td>@item?.LocationAr</td>
                                    <td>@item?.Email</td>
                                    <td>@item?.Phone</td>
                                    <td style="min-width:220px">
                                        <a class="btn btn-primary me-auto" href="/Admin/SupportHome/Edit/@item?.Id"> Edit</a>
                                        <a class="btn btn-success me-auto" href="/Admin/SupportHome/Details/@item?.Id"> Details</a>
                                        <button class="btn btn-danger me-auto" onclick="Delete(@item?.Id,'/Admin/SupportHome/Delete')"> Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




 
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <script src="~/customscript/sahreddelete.js"></script>
}  