@model ILC.BL.Models.Admin.HomeSection.AboutUs.CreateAboutUsHomeVM
<form id="form">
    <div class="row">
        <label asp-for="TextEn">Text En </label>
        <input type="text" asp-for="TextEn" class="form-control" />
        <span asp-validation-for="TextEn" class="text-danger"></span>
    </div>

    <div class="row">
        <label asp-for="TextAr">Text Ar </label>
        <input type="text" asp-for="TextAr" class="form-control" />
        <span asp-validation-for="TextAr" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="ImagePath">Upload Image </label>
            <input type="file" asp-for="Image" class="form-control" accept="image/*" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            @await Html.PartialAsync("_PreviewImage",Model?.ImagePath)
        </div>
        <input type="hidden" value="/Admin/AboutUsHome/Create" id="URL" />
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-primary"> Save</button> 
        <button type="button" class="btn btn-secondary" onclick="clearForm()"> Clear</button>
    </div>
</form>
<div>
    <a href="/Admin/AboutUsHome/index"> Back to List</a>
</div>
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script>
        function clearForm() {
            document.getElementById("form").reset();
            var imagePreview = document.getElementById("imagePreview");
            imagePreview.src = "";
        }
    </script>
}
