@model ILC.BL.Models.Admin.HomeSection.AboutUs.AboutUsHomeVM
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Aboutus details</h3> 
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img style="margin-bottom: 2em;width:300px" src="@Model?.ImagePath" alt="">
                    <br>
                    <p><span class="mb-2" style="font-weight:bold">Title Ar : </span>@Model?.TextEn</p>
                    <p><span class="mb-2" style="font-weight:bold">Title En : </span> @Model?.TextAr</p>
                    <a href="/Admin/AboutUsHome/Edit/@Model?.Id" class="btn btn-gradient-primary me-auto"> Edit</a> 
                    <a class="btn btn-light me-auto" asp-controller="AboutUsHome" asp-action="index">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div> 

