@model ILC.BL.Models.Admin.HomeSection.AboutUs.EditAboutUsHomeVM
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="page-header text-right mb-2">
        <a class="btn btn-primary" asp-controller="AboutUsHome" asp-action="index">Back to details</a>
    </div>
    <form id="formAdmin" class="forms-sample">
        <div class="row">
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TextEn">Text En </label>
                                    <textarea type="text" asp-for="TextEn" class="form-control" placeholder="Title En" rows="8"></textarea>
                                    <span asp-validation-for="TextEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TextAr">Text Ar </label>
                                    <textarea type="text" asp-for="TextAr" class="form-control" placeholder="Title Ar" rows="8"></textarea>
                                    <span asp-validation-for="TextAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                             
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary me-auto">Save</button>
                            <button type="button" class="btn btn-danger me-auto" onclick="clearForm()">Clear</button>
                        </div>
                        <input type="hidden" value="@Model?.ImagePath" name="ImagePath" />
                        <input type="hidden" value="/Admin/AboutUsHome/Edit" id="URL" />
                        <input type="hidden" value="@Model?.Id" name="Id" />
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ImagePath">Upload Image </label>
                                    <input type="file" asp-for="Image" class="file-upload-default" />
                                    <span asp-validation-for="Image" style="font-size:.9em; color:red"></span>
                                </div>
                                @await Html.PartialAsync("_PreviewImage", Model?.ImagePath) 
                        </div>
                    </div>
                </div>
            </div>
              
        </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script>
        function clearForm() {
            document.getElementById("formAdmin").reset();
            var imagePreview = document.getElementById("imagePreview");
            imagePreview.src = '@Model?.ImagePath';
        }
    </script>
} 