@model ILC.BL.Models.Admin.HomeSection.AboutUs.AboutUsHomeVM
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
}

<div class="content-wrapper"> 
    <div class="row"> 
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p><span class="mb-2" style="font-weight:bold; color:black">Arabic Title : </span> @Model?.TextAr</p>
                    <p><span class="mb-2" style="font-weight:bold; color:black">English Title : </span> @Model?.TextEn</p>

                    <div class="text-right mt-2">
                        <a class="btn btn-primary me-auto" href="/Admin/AboutUsHome/Edit/@Model?.Id">Edit</a>  
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img class="mb-2" src="@Model?.ImagePath" style="max-width:100%" />
                </div>
            </div>
        </div> 
    </div>
</div>
@section Scripts {
    <script src="~/js/npm_axios_dist_axios.min.js"></script> 
}