@model ILC.BL.Models.Admin.HomeSection.Service.CreateServiceHomeVM

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Create</h3>
        <a class="btn btn-primary" asp-controller="ServiceHome" asp-action="index">Back to list</a>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <form id="formAdmin" class="forms-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TitleEn">Title En : </label>
                                    <input type="text" asp-for="TitleEn" class="form-control" placeholder="Title En" />
                                    <span asp-validation-for="TitleEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TitleEn">Title Ar : </label>
                                    <input type="text" asp-for="TitleAr" class="form-control" placeholder="Title Ar" />
                                    <span asp-validation-for="TitleAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DescriptionEn">Description En</label>
                                    <textarea type="text" asp-for="DescriptionEn" class="form-control" id="DescriptionEn"
                                              placeholder="Description En"></textarea>
                                    <span asp-validation-for="DescriptionEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DescriptionAr">Description Ar</label>
                                    <textarea type="text" asp-for="DescriptionAr" class="form-control" id="DescriptionAr"
                                              placeholder="Description Ar"></textarea>
                                    <span asp-validation-for="DescriptionAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ImagePath">Upload Image </label>
                                    <input type="file" asp-for="Image" class="file-upload-default" />
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Image" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("_PreviewImage",Model?.ImagePath)
                            </div>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <div>
                                <button type="submit" class="btn btn-gradient-primary me-auto">Save</button>
                                <button type="button" class="btn btn-light me-auto" onclick="clearForm()">Clear</button>
                            </div>
                        </div>
                        <input type="hidden" value="/Admin/ServiceHome/Create" id="URL" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script>
        function clearForm() {
            document.getElementById("formAdmin").reset();
            var imagePreview = document.getElementById("imagePreview");
            imagePreview.src = "";
        }
    </script>
}  