@model ILC.BL.Models.WebSite.Home.HomePageVM


<!-- SLIDER SECTION START -->
@if (Model != null && Model.Silder != null)
{
    @await Html.PartialAsync("_SliderHome", Model.Silder)
}
<!-- SLIDER SECTION END -->
<!-- Start page content -->
<section id="page-content" class="page-wrapper">



    <div class="booking-area bg-3 call-to-bg plr-140 pt-75">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="section-title text-white">
                        <h3 style="color:black" data-i18n="SOME">SOME</h3>
                        <h2 class="h1" style="color:black" data-i18n="FUN-FACTOR">FUN FACTOR</h2>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="booking-conternt  clearfix">
                        <div class="counter-content">
                            <!-- counter-item -->
                            <div class="counter-item">
                                <h2>
                                    <i class="fa fa-home" style="color:#e2a165" aria-hidden="true"></i>
                                    <span class="counter">999</span>
                                </h2>
                                <p data-i18n="Complete-Project"></p>
                            </div>
                            <!-- counter-item -->
                            <div class="counter-item">
                                <h2>
                                    <i class="fa fa-key" style="color:#e2a165" aria-hidden="true"></i>
                                    <span class="counter">555</span>
                                </h2>
                                <p data-i18n="Property-Sold"></p>
                            </div>
                            <!-- counter-item -->
                            <div class="counter-item">
                                <h2>
                                    <i class="fa fa-smile" style="color:#e2a165" aria-hidden="true"></i>
                                    <span class="counter">350</span>
                                </h2>
                                <p data-i18n="Happy-Clients"></p>

                            </div>
                            <!-- counter-item -->
                            <div class="counter-item">
                                <h2>
                                    <i class="fa fa-trophy" style="color:#e2a165" aria-hidden="true"></i>
                                    <span class="counter">100</span>
                                </h2> 
                                <p data-i18n="Awards-Win"></p>

                            </div>
                        </div>
                        <div class="booking-imgae">
                            <img src="images/others/booking.jpg" style="max-height:270px" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- FIND HOME AREA START -->
    @* <div class="find-home-area bg-blue call-to-bg plr-140 pt-60 pb-20 " id="Search">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-3 col-xs-12 ">
    <div class="section-title text-white">
    <h3 id="page-content-title" style="color:#005c67" data-i18n="FIND-YOUR"></h3>
    <h2 id="page-content-title" style="color:#005c67" class="h2" data-i18n="ELEVATOR-HERE"></h2>
    </div>
    </div>
    <div class="col-md-9 col-xs-12">
    <div class="find-homes">
    <div class="row">
    <div class="col-sm-3 col-xs-12">
    <div class="find-home-item custom-select">

    <select class="selectpicker en" title="location" data-hide-disabled="true"
    data-live-search="true">
    <optgroup label="KSA" class="en">
    <option>Jeddah</option>
    <option>Al-madina</option>
    <option>Ryad</option>
    </optgroup>
    </select>

    <select class="selectpicker ar" title="الموقع" data-hide-disabled="true"
    data-live-search="true">
    <optgroup label="المملكة العربية السعودية" class="ar">
    <option value="1">جدة</option>
    <option value="2">المدينة</option>
    <option value="3">الرياض</option>
    </optgroup>
    </select>
    </div>
    </div>

    <div class="col-sm-3 col-xs-12">
    <div class="find-home-item en">
    <input type="text" name="min-area" placeholder="Min area (sqft)">
    </div>
    <div class="find-home-item ar">
    <input type="text" name="min-area" placeholder="اقل مساحة بالقدم المربع">
    </div>
    </div>
    <div class="col-sm-3 col-xs-12">
    <div class="find-home-item en">
    <input type="text" name="max-area" placeholder="Max area (sqft)">
    </div>
    <div class="find-home-item ar">
    <input type="text" name="max-area" placeholder="اقصى مساحة بالقدم المربع">
    </div>
    </div>
    <div class="col-sm-3 col-xs-12">
    <div class="find-home-item ">
    <!-- shop-filter -->
    <div class="shop-filter ">
    <div class="price_filter ">
    <div class="price_slider_amount en">
    <input type="submit" value="You range :" />
    <input type="text" id="amount" name="price"
    placeholder="Add Your Price" />
    </div>
    <div class="price_slider_amount ar">
    <input type="submit" value="متوسط السعر :" />
    <input type="text" id="amount" name="price"
    placeholder="أضف السعر" />
    </div>
    <div id="slider-range"></div>
    </div>
    </div>
    </div>
    </div>


    <div class="col-sm-6 col-xs-12">
    <div class="row">
    <div class="col-sm-5 col-xs-12">
    <div class="find-home-item mb-0-xs">
    <a class="button-1 btn-block btn-hover-1" href="#"
    data-i18n="search"></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> *@
    <!-- FIND HOME AREA END -->
    <!-- ABOUT SHELTEK AREA START -->
    <div class="about-sheltek-area ptb-115" id="AboutUs">
        @if (Model != null && Model.Silder != null)
        {
            @await Html.PartialAsync("_AboutUS", Model.AboutUS)
        }
        @* <div class="container">
        <div class="row rtl">
        <div class="col-sm-6 col-xs-12">
        <div class="section-title mb-30">
        <h3 data-i18n="SOME-WORD"></h3>
        <h2 data-i18n="ABOUT-SHELTEK"></h2>
        </div>
        <div class="about-sheltek-info rtl" data-i18n="desc">
        <p>
        <span data-placement="top" data-toggle="tooltip"
        data-original-title="The name you can trust"
        class="tooltip-content" data-i18n="Comapny-name"></span>
        </div>
        </div>
        <div class="col-sm-6 col-xs-12">
        <div class="about-image">
        <a href="#"><img src="~/images/about/1 (2).jpg" alt=""></a>
        </div>
        </div>
        </div>
        </div>*@
    </div>
    <!-- ABOUT SHELTEK AREA END -->
    <!-- SERVICES AREA START -->
    <div class="services-area pb-60">
        @if (Model != null && Model.Services?.Count > 0)
        {
            @await Html.PartialAsync("_Service", Model.Services)
        }
    </div>
    <!-- SERVICES AREA END -->
    <!-- BOOKING AREA START -->

    <div class="booking-area bg-1 call-to-bg plr-140 pt-75 mb-115">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="section-title text-white">
                        <h3 id="booking-area-title" style="color:#005c67" data-i18n="you-can"></h3>
                        <h2 id="booking-area-title" style="color:#005c67" class="h2" data-i18n="contact-us-now"></h2>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="booking-conternt clearfix">
                        <div class="book-house text-white">
                            <h2 data-i18n="ContactUs"> </h2>
                            <h2 class="h5">+966531978944 - info@ilcmetal.com</h2>
                        </div>
                        <div class="booking-imgae">
                            <img src="images/others/booking.jpg" style="max-height:270px" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- BOOKING AREA END -->
    <!-- FEATURED FLAT AREA START -->
    <div class="featured-flat-area pt-75 pb-80">
        @if (Model != null && Model.Products?.Count > 0)
        {
            @await Html.PartialAsync("_Product", Model.Products)
        }
    </div>
    <!-- FEATURED FLAT AREA END -->
    <!-- OUR AGENTS AREA START -->
    <div class="our-agents-area pt-75 pb-80">
        @if (Model != null && Model.Agents?.Count > 0)
        {
            @await Html.PartialAsync("_Agent", Model.Agents)
        }
    </div>
    <!-- OUR AGENTS AREA END -->
    <!-- BLOG AREA START -->
    <div class="blog-area pb-80">
        @if (Model != null && Model.Blogs?.Count > 0)
        {
            @await Html.PartialAsync("_Blog", Model.Blogs)
        }
    </div>
</section>
<!-- BLOG AREA END -->

<!-- END STAFF -->
<!-- START RESOURSES AND DOWNLOADS -->
<div class="downloads_resourses pt-75 pb-80">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title-2 text-center">
                    <h2 data-i18n="DOWNLOADS_RESOURSES"></h2>
                    <p data-i18n="DOWNLOADS_RESOURSES_DESC"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="recent-post-item">
                    <div class="recent-post-image">
                        <a href="single-blog.html"><img src="~/images/file.png" alt=""></a>
                    </div>
                    <div class="recent-post-info">
                        <div class="recent-post-title-time">
                            <h5><a href="single-blog.html">Maridland de Villa</a></h5>
                            <p>July 30, 2016 / 10 am</p>
                        </div>
                        <p>Lorem must explain to you how all this mistaolt</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="recent-post-item">
                    <div class="recent-post-image">
                        <a href="single-blog.html"><img src="~/images/file.png" alt=""></a>
                    </div>
                    <div class="recent-post-info">
                        <div class="recent-post-title-time">
                            <h5><a href="single-blog.html">Maridland de Villa</a></h5>
                            <p>July 30, 2016 / 10 am</p>
                        </div>
                        <p>Lorem must explain to you how all this mistaolt</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="recent-post-item">
                    <div class="recent-post-image">
                        <a href="single-blog.html"><img src="~/images/file.png" alt=""></a>
                    </div>
                    <div class="recent-post-info">
                        <div class="recent-post-title-time">
                            <h5><a href="single-blog.html">Maridland de Villa</a></h5>
                            <p>July 30, 2016 / 10 am</p>
                        </div>
                        <p>Lorem must explain to you how all this mistaolt</p>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>

<!-- START STAFF -->
<div class="staff pt-75 pb-80">
    @if (Model != null && Model.Staffs?.Count > 0)
    {
        @await Html.PartialAsync("_Staff", Model.Staffs)
    }
</div>


<!-- END RESOURSES AND DOWNLOADS -->
<!-- CONTACT AREA START -->
<div class="customer-support pt-115 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <!-- get-in-toch -->
                <div class="get-in-toch">
                    <div class="section-title mb-30">
                        <h3 data-i18n="CUSTOMER SUPPORT"></h3>

                    </div>
                    <div class="contact-desc mb-50">
                        <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content" data-i18n="CUSTOMER_SUPPORT"> </p>
                    </div>
                    <ul class="contact-address">
                        <li>
                            <div class="contact-address-icon">
                                <img src="~/images/icons/location-2.png" alt="">
                            </div>
                            <div class="contact-address-info">
                                <span>Ryaidh - Saudi arabia  </span>
                                <span>Gedda - Saudi arabia</span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-icon">
                                <img src="~/images/icons/phone-3.png" alt="">
                            </div>
                            <div class="contact-address-info">
                                <span>Telephone : (801) 4256  9856</span>
                                <span>Telephone : (801) 4256  9658</span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-icon">
                                <img src="~/images/icons/world.png" alt="">
                            </div>
                            <div class="contact-address-info">
                                <span>Email : info@sheltek.com</span>
                                <span>Web :<a href="#" target="_blank"> www.ILC.com</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12">
                <div class="contact-messge contact-bg">
                    <!-- blog-details-reply -->
                    <div class="leave-review">
                        <h5 data-i18n="LEAVE_MESSAGE"></h5>
                        <form id="contact-form" action="mail.php" method="post">
                            <input class="en" type="text" name="name" placeholder="Your name">
                            <input class="ar" type="text" name="name" placeholder="الاسم">

                            <input class="en" type="email" name="email" placeholder="Email">
                            <input class="ar" type="email" name="email" placeholder="الايميل">

                            <textarea class="en" name="message" placeholder="Write here"></textarea>
                            <textarea class="ar" name="message" placeholder="اكتب هنا"></textarea>

                            <button type="submit" class="submit-btn-1" data-i18n="SUBMIT"> </button>

                        </form>
                        <p class="form-messege mb-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTACT AREA END -->
<!--
        </section> -->
<!-- End page content -->
