@using Microsoft.AspNetCore.Localization;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@{
    var detectedCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
    int s = 0;//..Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
}