<div class="card">
    <div class="card-header">
        Properties
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Title En : </label>
                    <input type="text" id="specTitleEn" class="form-control" placeholder="Title En" required />
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Description En : </label>
                    <textarea class="form-control" id="specDescEn" cols="6" rows="2" placeholder="Desc En" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Title Ar : </label>
                    <input type="text" id="specTitleAr" class="form-control" placeholder="Title Ar" required />
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Description Ar : </label>
                    <textarea class="form-control" id="specDescAr" cols="6" rows="2" placeholder="Desc En" required> </textarea>
                </div>
            </div>
        </div>
        <button class="upload btn btn-primary btn-sm" type="button" onclick="addData()">Add</button>
        <table id="data-table" class="table  table-bordered  table-sm mt-3">
            <thead>
                <tr>
                    <th>Property Name EN</th>
                    <th>Property Name Ar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Data will be displayed here -->
            </tbody>
        </table>
    </div>
</div>
