@model List<ILC.BL.Models.Admin.HomeSection.Product.ProductImageVM>

@if (Model != null)
{

    <div class="card">
        <div class="card-header">
            This Image Saved in DB You Can Delete Any Image
        </div>
        <div class="card-body">
            <div>
                <div class="upload__box">
                    <!--Display Image-->
                    <div class="upload__img-wrap">
                        @foreach (var item in Model)
                        {
                            <div class='upload__img-box'>
                                <div style='background-image: url("@item?.ImagePath")' class='img-bg' @*$(".upload__img-close").length + "' data-file='" + f.name + "' *@>
                                    <!--Delete Image-->
                                    @if (item?.Id != 0)
                                    {
                                        <button class='saved_img-close' onclick="Delete(@item?.Id,'/Admin/ProductHome/DeleteImage')">
                                            @*<div class='saved_img-close'> </div>*@
                                        </button>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
}
