<div class="card">
    <div class="card-header">
        Other images
    </div>
    <div class="card-body">
        <div>
            <div class="upload__box">
                <div class="upload__btn-box">
                    <label class="upload__btn">
                        <p>Upload images</p>
                        <input type="file" id="otherImagesId" multiple data-max_length="20" class="upload__inputfile">
                    </label>
                </div>
                <div class="upload__img-wrap">

                </div>
            </div>
        </div>
    </div>
</div>
