@model ILC.BL.Models.Admin.HomeSection.Product.CreateProductHomeVM
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create";
    var categories = ViewBag.Categories as List<ILC.BL.Models.Admin.Categories.CategoryVM>;
    var categorySelectList = categories?.
            Select(c => new SelectListItem
                    {
                        Value = c.Id.ToString(),
                        Text = c.NameEn
                    });
}
<div class="content-wrapper">
    <div class="page-header text-right mb-2">
        <a class="btn btn-primary" asp-controller="ProductHome" asp-action="index">Back to list</a>
    </div>
    <form id="formProduct" class="forms-sample">
        <div class="row">
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TitleEn">Title En : </label>
                                    <input type="text" asp-for="TitleEn" class="form-control" placeholder="Title En" />
                                    <span asp-validation-for="TitleEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TitleEn">Title Ar : </label>
                                    <input type="text" asp-for="TitleAr" class="form-control" placeholder="Title Ar" />
                                    <span asp-validation-for="TitleAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DescriptionEn">Description En</label>
                                    <textarea type="text" asp-for="DescriptionEn" class="form-control" id="DescriptionEn"
                                              placeholder="Description En" rows="5"></textarea>
                                    <span asp-validation-for="DescriptionEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DescriptionAr">Description Ar</label>
                                    <textarea type="text" asp-for="DescriptionAr" class="form-control" id="DescriptionAr"
                                              placeholder="Description Ar" rows="5"></textarea>
                                    <span asp-validation-for="DescriptionAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="pref-search">Select Category:</label>
                                    <select class="form-control" asp-for="CategoryId" asp-items="categorySelectList"> 
                                        <option value="">-Select Category-</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="pref-search">Is Appear In Home</label>
                                    <input type="checkbox" class="form-control" name="IsAppearInHome" value="true" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" value="/Admin/ProductHome/Create" id="URL" />
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        Primary card
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="ImagePath">Upload Image </label>
                                <input type="file" asp-for="Image" class="file-upload-default" />
                                <span asp-validation-for="Image" style="font-size:.9em; color:red"></span>
                                @await Html.PartialAsync("_PreviewImage", Model?.ImagePath)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="row mt-2">
            <!-- Other Images Section -->
            <div class="col-md-6 grid-margin stretch-card">
                @await Html.PartialAsync("_UploadImages")
            </div>
            <!-- Properties Section -->
            <div class="col-md-6 grid-margin stretch-card">
                @await Html.PartialAsync("_AddSpecification")
            </div>
        </div>
        <div class="row mt-2">
            <div class="text-right">
                <button type="submit" class="btn btn-primary me-auto">Save</button>
                <button type="button" class="btn btn-danger me-auto" onclick="clearCreateProductForm()">Clear</button>
            </div>
        </div>
    </form>
</div>

<style>
    p {
        margin: 0;
    }

    .upload__box {
        padding: 40px;
    }

    .upload__inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .upload__btn {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        text-align: center;
        min-width: 116px;
        padding: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 2px solid;
        background-color: #4045ba;
        border-color: #4045ba;
        border-radius: 10px;
        line-height: 26px;
        font-size: 14px;
    }

        .upload__btn:hover {
            background-color: unset;
            color: #4045ba;
            transition: all 0.3s ease;
        }

    .upload__btn-box {
        margin-bottom: 10px;
    }

    .upload__img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .upload__img-box {
        width: 200px;
        padding: 0 10px;
        margin-bottom: 12px;
    }

    .upload__img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
    }

   .upload__img-close:after {
       content: "✖";
       font-size: 14px;
       color: white;
   }

    .saved_img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
    }

        .saved_img-close:after {
            content: "✖";
            font-size: 14px;
            color: white;
        }

    .img-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 100%;
    }
</style>
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script src="~/customscript/product.js"></script>
    <script>
        function clearCreateProductForm() { 
            window.location.reload();
        }
    </script>
} 