@model ILC.BL.Models.Admin.HomeSection.Product.ProductHomeVM

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Details</h3>
        <a class="btn btn-primary" asp-controller="ProductHome" asp-action="index">Back to list</a>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img style="margin-bottom: 2em;width:300px" src="@Model?.ImagePath" alt="">
                    <br>
                    <p><span class="mb-2" style="font-weight:bold">Title Ar : </span>@Model?.TitleAr</p>
                    <p><span class="mb-2" style="font-weight:bold">Title En : </span> @Model?.TitleEn</p>
                    <p><span class="mb-2" style="font-weight:bold">Description Ar : </span> @Model?.DescriptionAr</p>
                    <p><span class="mb-2" style="font-weight:bold">Description En : </span> @Model?.DescriptionEn</p>
                    <a href="/Admin/ProductHome/Edit/@Model?.Id" class="btn btn-gradient-primary me-auto"> Edit</a>
                    <button class="btn btn-light me-auto" onclick="Delete(@Model?.Id,'/Admin/ProductHome/Delete')"> Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>  