@model List<ILC.BL.Models.Admin.HomeSection.Staff.StaffHomeVM>
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
} 
<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Staff Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Arabic title</th>
                                <th>English title</th>
                                <th>Arabic description</th>
                                <th>English description</th>
                                <th>Actions</th>
                            </tr>
                        </thead> 
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img class="mb-2" src="@item.ImagePath" style="max-width:100px;max-height:100px" /></td>
                                    <td>@item?.TitleAr</td>
                                    <td>@item?.TitleEn</td>
                                    <td>@item?.DescriptionAr</td>
                                    <td>@item?.DescriptionEn</td>
                                    <td style="min-width:220px">
                                        <a class="btn btn-primary me-auto" href="/Admin/StaffHome/Edit/@item?.Id"> Edit</a> 
                                        <button class="btn btn-danger me-auto" onclick="Delete(@item?.Id,'/Admin/StaffHome/Delete')">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <script src="~/customscript/sahreddelete.js"></script>
} 

