@model ILC.BL.Models.Admin.Categories.CategoryVM 
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Category details</h3>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img style="margin-bottom: 2em;width:300px" src="@Model?.ImagePath" alt="">
                    <br>
                    <p><span class="mb-2" style="font-weight:bold">Name En : </span>@Model?.NameEn</p>
                    <p><span class="mb-2" style="font-weight:bold">Name Ar : </span>@Model?.NameAr</p>
                    <p><span class="mb-2" style="font-weight:bold">Description En: </span>@Model?.DescriptionEn</p>
                    <p><span class="mb-2" style="font-weight:bold">Description Ar: </span>@Model?.DescriptionAr</p> 
                    <a href="/Admin/Category/Edit/@Model?.Id" class="btn btn-gradient-primary me-auto"> Edit</a> 
                    <a class="btn btn-light me-auto" asp-controller="Category" asp-action="index">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>  