@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">List</h3>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img style="margin-bottom: 2em;" src="~/assets/images/faces/face19.jpg" alt="">
                    <br>
                    <h4 class="mb-3">Title Ar: </h4>
                    <h4 class="mb-3">Title En: </h4>
                    <h4 class="mb-3">Desc Ar: </h4>
                    <h4 class="mb-3">Desc En: </h4>
                    <button type="submit" class="btn btn-gradient-primary me-auto">Edit</button>
                    <button class="btn btn-light me-auto">Back To List</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img style="margin-bottom: 2em;" src="./assets/images/faces/face19.jpg" alt="">
                    <br>
                    <h4 class="mb-3">Title Ar: </h4>
                    <h4 class="mb-3">Title En: </h4>
                    <h4 class="mb-3">Desc Ar: </h4>
                    <h4 class="mb-3">Desc En: </h4>
                    <button type="submit" class="btn btn-gradient-primary me-auto">Edit</button>
                    <button class="btn btn-light me-auto">Back To List</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img style="margin-bottom: 2em;" src="./assets/images/faces/face19.jpg" alt="">
                    <br>
                    <h4 class="mb-3">Title Ar: </h4>
                    <h4 class="mb-3">Title En: </h4>
                    <h4 class="mb-3">Desc Ar: </h4>
                    <h4 class="mb-3">Desc En: </h4>
                    <button type="submit" class="btn btn-gradient-primary me-auto">Edit</button>
                    <button class="btn btn-light me-auto">Back To List</button>
                </div>
            </div>
        </div>
    </div>
</div>