@model ILC.BL.Models.Admin.HomeSection.Downloads.DownloadVM
@{
    ViewData["Title"] = "ViewFile";
}
<br />
<br /> 
<div style="margin: 20px; padding: 20px;">
    <iframe src="@Model.PdfPath" style="width:100%; height:900px" title="Iframe Example" target="_blank"></iframe>
</div>



