@model ILC.BL.Models.CreateProductHomeSectionModel;

<div class="row">
    <div class="col-sm-4 form-group">
        <label asp-for="TitleEn" class="control-label"></label>
        <input asp-for="TitleEn" id="TitleEn" class="form-control" />
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>
    <div class="col-sm-4 form-group">
        <label asp-for="DescriptionEn" class="control-label"></label>
        <input asp-for="DescriptionEn" id="DescriptionEn" class="form-control" />
        <span asp-validation-for="DescriptionEn" class="text-danger"></span>
    </div>
</div>