@model ILC.BL.Models.Admin.HomeSection.Slider.CreateSliderHomeVM
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Create</h3>
        <a class="btn btn-primary" asp-controller="SliderHome" asp-action="index">Back to list</a>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body"> 
                    <form id="formAdmin" class="forms-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FirstHeadTextEn">First Head En : </label>
                                    <input type="text" asp-for="FirstHeadTextEn" class="form-control" placeholder="First Head En" />
                                    <span asp-validation-for="FirstHeadTextEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FirstHeadTextAr">First Head Ar : </label>
                                    <input type="text" asp-for="FirstHeadTextAr" class="form-control" placeholder="First Head Ar" />
                                    <span asp-validation-for="FirstHeadTextAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SecondtHeadTextEn">Second Head En : </label>
                                    <input type="text" asp-for="SecondtHeadTextEn" class="form-control" placeholder="Second Head En" />
                                    <span asp-validation-for="SecondtHeadTextEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SecondHeadTextAr">Second Head Ar : </label>
                                    <input type="text" asp-for="SecondHeadTextAr" class="form-control" placeholder="Second Head Ar " />
                                    <span asp-validation-for="SecondHeadTextAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ParagraphEn">Paragraph En: </label>
                                    <input type="text" asp-for="ParagraphEn" class="form-control" placeholder="Paragraph En" />
                                    <span asp-validation-for="ParagraphEn" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ParagraphAr">Paragraph Ar: </label>
                                    <input type="text" asp-for="ParagraphAr" class="form-control" placeholder="Paragraph Ar" />
                                    <span asp-validation-for="ParagraphAr" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ImagePath">Upload Image </label>
                                    <input type="file" asp-for="Image" class="file-upload-default" />
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Image" style="font-size:.9em; color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("_PreviewImage",Model?.ImagePath)
                            </div>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top:5px">
                            <div>
                                <button type="submit" class="btn btn-gradient-primary me-auto">Save</button>
                                <button type="button" class="btn btn-light me-auto" onclick="clearForm()">Clear</button>
                            </div>
                        </div>
                        <input type="hidden" value="/Admin/SliderHome/Create" id="URL" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script>
        function clearForm() {
            document.getElementById("formAdmin").reset();
            var imagePreview = document.getElementById("imagePreview");
            imagePreview.src = "";
        }
    </script>
} 