@model List<ILC.BL.Models.Admin.HomeSection.Slider.SliderHomeVM>
@using Microsoft.Extensions.Localization
@using ILCWebsite.Models.Resources

@inject IStringLocalizer<HomeResource> HomeResource

<div class="text-center">
    <h1 class="display-4">@HomeResource["WTB"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @foreach (var item in Model)
    {
        <div>
            <img src="@item.ImagePath" />
            <p>FirstHeadTextEn :@item.FirstHeadTextEn</p>
            <p>FirstHeadTextAr :@item.FirstHeadTextAr</p>
            <p>SecondtHeadTextEn :@item.SecondtHeadTextEn</p>
            <p>SecondHeadTextAr :@item.SecondHeadTextAr</p>
            <p>ParagraphAr :@item.ParagraphAr</p>
            <p>ParagraphEn :@item.ParagraphEn</p>
            <a href="/Admin/SliderHome/Edit/@item.Id"> Edit</a> 
            <a href="/Admin/SliderHome/Details/@item?.Id"> Details</a>
            <button onclick="Delete(@item?.Id,'/Admin/SliderHome/Delete')"> Delete </button>
        </div>
    } 
</div>
@section Scripts{
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <script src="~/customscript/sahreddelete.js"></script>
}
